@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.frame-border .left-border,
.frame-border .top-border,
.frame-border .right-border,
.frame-border .bottom-border {
  position: fixed;
  background-color: #070F2B;
  z-index: 2;
}
.frame-border .left-border {
  left: 0px;
  width: 20px;
  height: 100%;
}
.frame-border .left-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(-90deg);
}
.frame-border .top-border {
  top: 0px;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  /* xx以上スクロールしたら */
}
.frame-border .top-border::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 80px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(-90deg);
  transition: all 0.5s;
}
.frame-border .top-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 80px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(360deg);
  transition: all 0.5s;
}
.frame-border .top-border.scroll {
  height: 40px;
}
.frame-border .top-border.scroll::before {
  top: 40px;
}
.frame-border .top-border.scroll::after {
  top: 40px;
}
.frame-border .right-border {
  right: 0px;
  width: 20px;
  height: 100%;
  transition: all 0.5s;
}
.frame-border .bottom-border {
  bottom: 0px;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  /* xx以上スクロールしたら */
}
.frame-border .bottom-border::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(180deg);
  transition: all 0.5s;
}
.frame-border .bottom-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(90deg);
  transition: all 0.5s;
}
.frame-border .bottom-border.scroll {
  height: 40px;
}

.nav-menu {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.nav-menu.scroll {
  top: 0px;
}
.nav-menu ul {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}
.nav-menu ul li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu ul li {
  font-family: "Cherry Bomb One", system-ui;
}
.nav-menu ul li a {
  display: flex;
  flex-direction: column;
  color: #DBD8E3;
  text-align: center;
  text-decoration: none;
  line-height: 1.6;
}
.nav-menu ul li a span {
  color: #DBD8E3;
  font-size: 1.5rem;
  transition: all 0.5s;
}
.nav-menu ul li a span:hover {
  opacity: 0.7;
}
.nav-menu .media {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}
.nav-menu .media li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu .media li {
  display: flex;
  align-items: center;
}
.nav-menu .media li a {
  color: #DBD8E3;
  text-decoration: none;
  line-height: 1.6;
}
.nav-menu .media li a i {
  font-size: 1.5rem;
  transition: all 0.5s;
}
.nav-menu .media li a i:hover {
  opacity: 0.7;
}

.header {
  height: 100vh;
}
.header .header-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 50vh;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 576px) {
  .header .header-content {
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
  }
}
.header .header-content .upper-content {
  grid-row: 1/2;
  width: 100%;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 576px) {
  .header .header-content .upper-content {
    justify-content: center;
  }
}
.header .header-content .upper-content .rotate-word {
  display: flex;
  overflow: hidden;
  color: #070F2B;
  font-family: "Cherry Bomb One", system-ui;
  font-size: 6rem;
}
@media screen and (max-width: 576px) {
  .header .header-content .upper-content .rotate-word {
    font-size: 2.75rem;
  }
}
.header .header-content .upper-content .rotate-word span {
  display: inline-block;
  transform: translate(0, 100%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.header .header-content .upper-content .rotate-word span:nth-child(2) {
  transition-delay: 0.07s;
}
.header .header-content .upper-content .rotate-word span:nth-child(3) {
  transition-delay: 0.14s;
}
.header .header-content .upper-content .rotate-word span:nth-child(4) {
  transition-delay: 0.21s;
}
.header .header-content .upper-content .rotate-word span:nth-child(5) {
  transition-delay: 0.28s;
}
.header .header-content .upper-content .rotate-word span:nth-child(6) {
  transition-delay: 0.35s;
}
.header .header-content .upper-content .rotate-word span:nth-child(7) {
  transition-delay: 0.42s;
}
.header .header-content .upper-content .rotate-word span:nth-child(8) {
  transition-delay: 0.49s;
}
.header .header-content .upper-content .rotate-word.-visible span {
  transform: translate(0, 0);
}
.header .header-content .lower-content {
  grid-row: 2/3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 576px) {
  .header .header-content .lower-content {
    grid-template-columns: 1fr;
    text-align: start;
  }
}
.header .header-content .lower-content .msg {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  color: #070F2B;
}
@media screen and (max-width: 576px) {
  .header .header-content .lower-content .msg {
    font-size: 1rem;
  }
}
.header .header-content .lower-content .msg a {
  color: #00bbdd;
  position: relative;
  text-decoration: none;
}
.header .header-content .lower-content .msg a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #00bbdd;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}
.header .header-content .lower-content .msg a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

/*####################
Contact Form
####################*/
.gallery {
  height: 100vh;
  margin: 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gallery .page-title {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 4rem;
  color: #070F2B;
  padding-left: 30px;
  line-height: 6rem;
  text-align: center;
}
.gallery ul {
  -moz-column-count: 3;
       column-count: 3;
  padding: 20px;
  list-style: none;
}
.gallery ul .item {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery ul .item img {
  flex-grow: 1;
  display: block;
  width: 100%;
  max-height: 50vh;
  border-radius: 50px 15px 0px 15px;
  padding-left: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
  filter: grayscale(50%);
  transition: all 0.7s;
}
.gallery ul .item img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  -o-object-position: left top;
     object-position: left top;
  box-shadow: 15px 15px 0 #070F2B;
}
.gallery ul .item p {
  padding: 10px;
  font-size: 13px;
  text-align: center;
  color: #DBD8E3;
}

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact .page-title {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 4rem;
  color: #070F2B;
  padding-left: 30px;
  line-height: 6rem;
  text-align: center;
}
.contact section .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact section .contact-form .input-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 6px 12px;
}
.contact section .contact-form .input-container .left-input {
  width: 50%;
  height: auto;
}
.contact section .contact-form .input-container .left-input label {
  font-size: 20px;
  display: block;
  color: #070F2B;
  font-weight: bold;
}
.contact section .contact-form .input-container .left-input input[type=text],
.contact section .contact-form .input-container .left-input input[type=email] {
  height: auto;
  width: 100%;
  background: #DBD8E3;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 2px #070F2B solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
.contact section .contact-form .input-container .right-input {
  width: 50%;
  height: auto;
}
.contact section .contact-form .input-container .right-input label {
  font-size: 20px;
  display: block;
  color: #070F2B;
  font-weight: bold;
}
.contact section .contact-form .input-container .right-input textarea {
  width: 100%;
  background: #DBD8E3;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 2px #070F2B solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  height: 8rem;
}
.contact section .contact-form input[type=submit] {
  text-align: center;
  border: 2px #070F2B solid;
  background-color: #DBD8E3;
  font-weight: bold;
  color: #070F2B;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  line-height: 1;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #24292e;
  font-size: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
  background-color: #FFF;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.main-bg {
  background: url("/img/background-img.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 576px) {
  .main-bg {
    background-size: 250%;
  }
}

footer {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 6px 0;
}
footer p {
  color: #DBD8E3;
  font-size: 0.875rem;
}/*# sourceMappingURL=style.css.map */