@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.frame-border .left-border,
.frame-border .top-border,
.frame-border .right-border,
.frame-border .bottom-border {
  position: fixed;
  background-color: #070F2B;
  z-index: 9;
}
.frame-border .left-border {
  left: 0px;
  width: 20px;
  height: 100%;
}
.frame-border .left-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(-90deg);
}
.frame-border .top-border {
  top: 0px;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  /* xx以上スクロールしたら */
}
.frame-border .top-border::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 80px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(-90deg);
  transition: all 0.5s;
}
.frame-border .top-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 80px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(360deg);
  transition: all 0.5s;
}
.frame-border .top-border.scroll {
  height: 40px;
}
.frame-border .top-border.scroll::before {
  top: 40px;
}
.frame-border .top-border.scroll::after {
  top: 40px;
}
.frame-border .right-border {
  right: 0px;
  width: 20px;
  height: 100%;
}
.frame-border .bottom-border {
  bottom: 0px;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  /* xx以上スクロールしたら */
}
.frame-border .bottom-border::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  left: 20px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(180deg);
  transition: all 0.5s;
}
.frame-border .bottom-border::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #070F2B;
  transform: rotate(90deg);
  transition: all 0.5s;
}
.frame-border .bottom-border.scroll {
  height: 40px;
}

.nav-menu {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.nav-menu.scroll {
  top: 0px;
}
.nav-menu ul {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}
.nav-menu ul li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu ul li {
  font-family: "Cherry Bomb One", system-ui;
}
.nav-menu ul li a {
  display: flex;
  flex-direction: column;
  color: #DBD8E3;
  text-align: center;
  text-decoration: none;
  line-height: 1.6;
}
.nav-menu ul li a span {
  color: #DBD8E3;
  font-size: 1.5rem;
}
.nav-menu .media {
  display: flex;
  justify-content: center;
  flex: 1;
  list-style: none;
}
.nav-menu .media li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu .media li {
  display: flex;
  align-items: center;
}
.nav-menu .media li a {
  color: #DBD8E3;
  text-decoration: none;
  line-height: 1.6;
}
.nav-menu .media li a i {
  font-size: 1.5rem;
}

.header {
  height: 100vh;
}
.header .header-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 50vh;
  padding-left: 50px;
  padding-right: 50px;
}
.header .header-content .upper-content {
  width: 100%;
  display: flex;
  align-items: end;
}
.header .header-content .upper-content .rotate-word {
  font-family: "Cherry Bomb One", system-ui;
  font-size: 7rem;
  display: block;
  height: 180px;
  color: #070F2B;
  overflow: hidden;
  animation: rotation-word 4s 1.2s infinite;
}
.header .header-content .upper-content .rotate-word span[class~=rotate-word] {
  display: block;
  animation: move-word 8s steps(2) infinite;
}
@keyframes rotation-word {
  50% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(1turn);
  }
}
@keyframes move-word {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-340px);
  }
}
.header .header-content .lower-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header .header-content .lower-content .msg {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: #070F2B;
}
.header .header-content .lower-content .msg a {
  color: #00bbdd;
  position: relative;
  text-decoration: none;
}
.header .header-content .lower-content .msg a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #00bbdd;
  bottom: -2px;
  transform: scale(0, 1);
  transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s; /*変形の時間*/
}
.header .header-content .lower-content .msg a:hover::after {
  transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #24292e;
  font-size: 100%;
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.main-bg {
  background: url("/img/background-img.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  mix-blend-mode: multiply;
}

.main {
  height: 100vh;
}
.main .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-content .page-title {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 600;
  font-size: 5rem;
  color: #070F2B;
}
.main .main-content section {
  width: 100%;
}
.main .main-content section .swiper {
  /* 次ページボタンのスタイル */
  /* 前ページボタンのスタイル */
  width: 60%;
  height: auto;
  box-shadow: 15px 15px 0 #070F2B;
}
.main .main-content section .swiper .swiper-wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.main .main-content section .swiper .swiper-wrapper .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}
.main .main-content section .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}
.main .main-content section .swiper .swiper-wrapper .swiper-slide:nth-child(3n+1) {
  /*1、4、7、3n+1枚目の背景色 */
  background-color: #878787;
}
.main .main-content section .swiper .swiper-wrapper .swiper-slide:nth-child(3n+2) {
  /*2、5、8、3n+2枚目の背景色 */
  background-color: #878787;
}
.main .main-content section .swiper .swiper-wrapper .swiper-slide:nth-child(3n+3) {
  /*3、6、9、3n+3枚目の背景色 */
  background-color: #878787;
}
.main .main-content section .swiper .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #333 !important;
}
.main .main-content section .swiper .swiper-pagination-bullet:first-child {
  margin: 0 !important;
}
.main .main-content section .swiper .swiper-button-prev,
.main .main-content section .swiper .swiper-button-next {
  width: 24px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  background-size: 24px 40px; /* 表示したいサイズ */
  transform: translateY(-50%);
  margin-top: 0;
}
.main .main-content section .swiper .swiper-button-next {
  background-image: url("https://kiomiru.co.jp/blog/wp-content/uploads/2021/09/img_arrow_black_01.png");
}
.main .main-content section .swiper .swiper-button-prev {
  background-image: url("https://kiomiru.co.jp/blog/wp-content/uploads/2021/09/img_arrow_black_01.png");
  transform: translateY(-50%) scale(-1, 1); /* 左右反転 */
}
.main .main-content section .swiper .swiper-button-prev:after,
.main .main-content section .swiper .swiper-button-next:after {
  display: none;
}/*# sourceMappingURL=style.css.map */