@use "../base/variables" as *;

@mixin page-title() {
    font-family: 'Cherry Bomb One', system-ui;
    // font-family: "Nunito", sans-serif;
    // font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: $blueColor;
    // border-bottom: 5px solid $blueColor;
    // border-left: 20px solid $blueColor;
    padding-left: 30px;
    line-height: 6rem;
    text-align: center;
}

/*####################
Contact Form
####################*/
@mixin label-design() {
    font-size: 20px;
    display: block;
    color: $blueColor;
    font-weight: bold;
}

@mixin submit-button() {
    text-align: center;
    border: 2px $blueColor solid;
    background-color: $mainTextColor2;
    font-weight: bold;
    color: $blueColor;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    line-height: 1;
    font-size: 20px;
}

@mixin input-form-design() {
    width: 100%;
    background: $mainTextColor2;
    backdrop-filter: blur(20px);
    border: 2px $blueColor solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

/*####################
#btn07
####################*/
@mixin btn-07() {
    #btn07 span:nth-of-type(1) {
        -webkit-animation: btn07-bar01 .75s forwards;
        animation: btn07-bar01 .75s forwards;
    }
    @-webkit-keyframes btn07-bar01 {
        0% {
            -webkit-transform: translateY(20px) rotate(45deg);
        }
        50% {
            -webkit-transform: translateY(20px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(0) rotate(0);
        }
    }
    @keyframes btn07-bar01 {
        0% {
            transform: translateY(20px) rotate(45deg);
        }
        50% {
            transform: translateY(20px) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    #btn07 span:nth-of-type(2) {
        -webkit-animation: btn07-bar03 .75s forwards;
        animation: btn07-bar03 .75s forwards;
    }
    @-webkit-keyframes btn07-bar03 {
        0% {
            -webkit-transform: translateY(-20px) rotate(-45deg);
        }
        50% {
            -webkit-transform: translateY(-20px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(0) rotate(0);
        }
    }
    @keyframes btn07-bar03 {
        0% {
            transform: translateY(-20px) rotate(-45deg);
        }
        50% {
            transform: translateY(-20px) rotate(0);
        }
        100% {
            transform: translateY(0) rotate(0);
        }
    }
    #btn07.active span:nth-of-type(1) {
        -webkit-animation: active-btn07-bar01 .75s forwards;
        animation: active-btn07-bar01 .75s forwards;
    }
    @-webkit-keyframes active-btn07-bar01 {
        0% {
            -webkit-transform: translateY(0) rotate(0);
        }
        50% {
            -webkit-transform: translateY(20px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(10px) rotate(45deg);
        }
    }
    @keyframes active-btn07-bar01 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(20px) rotate(0);
        }
        100% {
            transform: translateY(10px) rotate(45deg);
        }
    }
    #btn07.active span:nth-of-type(2) {
        -webkit-animation: active-btn07-bar03 .75s forwards;
        animation: active-btn07-bar03 .75s forwards;
    }
    @-webkit-keyframes active-btn07-bar03 {
        0% {
            -webkit-transform: translateY(0) rotate(0);
        }
        50% {
            -webkit-transform: translateY(-20px) rotate(0);
        }
        100% {
            -webkit-transform: translateY(-10px) rotate(-45deg);
        }
    }
    @keyframes active-btn07-bar03 {
        0% {
            transform: translateY(0) rotate(0);
        }
        50% {
            transform: translateY(-20px) rotate(0);
        }
        100% {
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}