$mainTextColor: #24292e;
$mainTextColor2: #DBD8E3;
$thinBlueColor: #DAEAF1;
// $blueColor: #C6DCE4;
$blueColor: #070F2B;
$blueColor2: #00bbdd;
$thinPinkColor: #FFE6E6;
$pinkColor: #F2D1D1;
$lavenderColor: #d2daff;
$deepLavenderColor: #545766;