@use "../base/variables" as *;

@mixin frameBase(){
    position: fixed;
    background-color: $blueColor;
    z-index: 2;
}

.frame-border {
    .left-border,
    .top-border,
    .right-border,
    .bottom-border {
        @include frameBase();
    }

    .left-border {
        left: 0px;
        width: 20px;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 40px;
            left: 20px;
            right: 0;
            border-radius: 50%;
            box-shadow: 15px -15px 0 $blueColor;
            transform:rotate(-90deg);  
        }
    }

    .top-border {
        top: 0px;
        width: 100%;
        height: 80px;
        transition: all .5s;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 80px;
            left: 20px;
            right: 0;
            border-radius: 50%;
            box-shadow: 15px -15px 0 $blueColor;
            transform:rotate(-90deg);  
            transition: all .5s; 
        }

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: 80px;
            right: 20px;
            border-radius: 50%;
            box-shadow: 15px -15px 0 $blueColor;
            transform:rotate(360deg);   
            transition: all .5s;
        }

        /* xx以上スクロールしたら */
        &.scroll {
            height: 40px;
            &::before {
                top: 40px;
            }
            &::after {
                top: 40px;
            }
        }
    }
    
    .right-border {
        right: 0px;
        width: 20px;
        height: 100%;
        transition: all .5s; 
    }
    
    .bottom-border {
        bottom: 0px;
        width: 100%;
        height: 80px;
        transition: all .5s;

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: -30px;
            left: 20px;
            right: 0;
            border-radius: 50%;
            box-shadow: 15px -15px 0 $blueColor;
            transform:rotate(180deg);  
            transition: all .5s; 
        }

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: -30px;
            right: 20px;
            border-radius: 50%;
            box-shadow: 15px -15px 0 $blueColor;
            transform:rotate(90deg);   
            transition: all .5s;
        }

        /* xx以上スクロールしたら */
        &.scroll {
            height: 40px;
        }
    }
}