@use "../base/variables" as *;

.header {
    height: 100vh;

    .header-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 50vh;
        padding-left: 50px;
        padding-right: 50px;

        .upper-content {
            grid-row:  1/ 2;
            width: 100%;
            display: flex;
            align-items: end;

            .rotate-word {
                display: flex;
                overflow: hidden;
                color: $blueColor;
                font-family: 'Cherry Bomb One', system-ui;
                font-size: 6rem;

                span {
                    display: block;
                    transform: translate(0, 100%);
                    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;

                    @for $i from 1 through 7 {
                        &:nth-child(#{$i + 1}) {
                          $delay: $i * 0.07 + s;
                          transition-delay: $delay;
                        }
                    }
                }

                &.-visible {
                    span {
                        transform: translate(0, 0);
                    }
                }
            }
        }
        .lower-content {
            grid-row: 2 / 3;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .msg {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                font-size: 1.25rem;
                font-weight: 600;

                display: flex;
                align-items: end;
                flex-direction: column;
                // font-family: 'Poppins', sans-serif;
                font-family: "Quicksand", sans-serif;
                color: $blueColor;

                a {
                    color: $blueColor2;
                    position: relative;
                    text-decoration: none;

                    &::after {
                        position: absolute;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: $blueColor2;
                        bottom: -2px;
                        transform: scale(0, 1);
                        transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
                        transition: transform 0.3s;   /*変形の時間*/
                    }

                    &:hover {
                        &::after {
                            transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
                        }
                    }
                }
            }
        }
    }
}