@use "../base/variables" as *;

.nav-menu {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    transition: all .5s;

    &.scroll {
        top: 0px;
    }

    ul {
        display: flex;
        justify-content: center;
        flex: 1;
        list-style: none;

        li:not(:last-child) {
            margin-right: 50px;
        }

        li {
            font-family: 'Cherry Bomb One', system-ui;
            a {
                display: flex;
                flex-direction: column;
                color: $mainTextColor2;
                // font-weight: 700;
                text-align: center;
                text-decoration: none;
                line-height: 1.6;
    
                span {
                    color: $mainTextColor2;
                    font-size: 1.5rem;
                    transition: all .5s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .media {
        display: flex;
        justify-content: center;
        flex: 1;
        list-style: none;

        li:not(:last-child) {
            margin-right: 50px;
        }
        li {
            display: flex;
            align-items: center;
            a {
                color: $mainTextColor2;
                text-decoration: none;
                line-height: 1.6;
                i {
                    font-size: 1.5rem ;
                    transition: all .5s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}