@use "../base/variables" as *;
@use "../base/function" as *;
@use "media_query" as *;

.nav-menu {
    width: 100%;
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    z-index: 9999;
    transition: all .5s;

    display: flex;
    justify-content: center;

    &.scroll {
        top: 0px;
    }


    ul {
        display: flex;
        justify-content: center;
        flex: 1;
        list-style: none;

        @include media(sm) {
            display: none !important;
        }

        li:not(:last-child) {
            margin-right: 50px;
        }

        li {
            font-family: 'Cherry Bomb One', system-ui;
            a {
                display: flex;
                flex-direction: column;
                color: $mainTextColor2;
                // font-weight: 700;
                text-align: center;
                text-decoration: none;
                line-height: 1.6;
    
                span {
                    color: $mainTextColor2;
                    font-size: 1.5rem;
                    transition: all .5s;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .media {
        display: flex;
        justify-content: center;
        flex: 1;
        list-style: none;

        li:not(:last-child) {
            margin-right: 50px;
        }
        li {
            display: flex;
            align-items: center;
            a {
                color: $mainTextColor2;
                text-decoration: none;
                line-height: 1.6;
                i {
                    font-size: 1.5rem ;
                    transition: all .5s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .btn-trigger {
        position: fixed;
        // top: 40px;
        right: 40px;
        width: 40px;
        height: 34px;
        cursor: pointer;
        z-index: 9999;

        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: $mainTextColor2;
            border-radius: 4px;
            display: inline-block;
            transition: all .5s;
            box-sizing: border-box;
        }

        span:nth-of-type(1) {
            top: 2px;
        }

        span:nth-of-type(2) {
            bottom: 2px;
        }
    }
    @include btn-07();
}
